.idea/
web/css/
web/js/
web/bundles/
web/bootstrap/
app/bootstrap.php.cache
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
composer.phar
imports
app/config/parameters.yml
app/config/parameters_fnaccache.yml