parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
    node_bin: /usr/bin/nodejs
    node_paths: [/usr/local/lib/node_modules]
#paramètre déterminant le temps pour la libération du lock sur la session en minutes
    session_login_lock_time: 10 
#info webservice
    czn_webservice:
        wsdl_location: ~
        customer: ~
        password: ~
#répertoire pour les fichiers excels "après routeur"
    file_import.after_routeur.location: %kernel.root_dir%/../imports/apres_routeur 
#répertoire pour les fichiers txt listant les colis plannifiés
    file_import.parcels_planned.location: %kernel.root_dir%/../imports/planif