{% extends "NovactiveAdminBundle::admin_layout.html.twig" %}
{% from "NovactiveAdminBundle:Form:_macros.html.twig" import btn %}

{% block body -%}
    <h1>Cycle creation</h1>

    {{ form(form) }}

   <ul class="record_actions">
        <li>
            {{ btn('cycle','list') }}
        </li>
   </ul>
{% endblock %}
