{% extends "ColizenAdminBundle::layout.html.twig" %}

{% from "ColizenAdminBundle:Form:_macros.html.twig" import btn %}

{% block content %}
    <h1>Site creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
       {{ btn('site','list') }}
    </li>
</ul>
{% endblock %}
