{% extends "ColizenAdminBundle::admin_layout.html.twig" %}
{% from "ColizenAdminBundle:Form:_macros.html.twig" import btn %}

{% block body -%}
    <h1>Sender creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        {{ btn('sender','list') }}
    </li>
</ul>
{% endblock %}
