{% extends "NovactiveAdminBundle::admin_layout.html.twig" %}

{% block body -%}
    <h1>Site creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_site_list') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
