{% extends "ColizenAdminBundle::layout.html.twig" %}
{% from "ColizenAdminBundle:Form:_macros.html.twig" import btn %}

{% block content -%}
    <h1>TourCode edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        {{ btn('tour_code','list') }}
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
