{% extends "ColizenAdminBundle::layout.html.twig" %}
{% from "ColizenAdminBundle:Form:_macros.html.twig" import btn %}

{% block content -%}
    <h1>TourCode creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        {{ btn('tour_code','list') }}
    </li>
</ul>
{% endblock %}
